.button {
	border: none;
	background-color: $btn-form-color;

	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	@include ui-font(4);

	width: 100%;
	cursor: pointer;

	box-shadow: 0 4px 8px $btn-form-color;

	padding: 12px 0;
}
