.wrapper {
	display: flex;
	justify-content: center;

	@include ui-padding(top, 4);
}

.list {
	display: flex;
	gap: 80px;

	> li {
		display: flex;
		flex-direction: column;
		gap: 12px;

		&:not(:last-child) {
			@include ui-padding(right, 20);
			border-right: 1px solid #000;
		}

		> p {
			width: 380px;
		}
	}
}

.titles {
	> h1 {
		width: 380px;
		@include ui-font(6);
		@include ui-margin(bottom, 1);
	}

	> h2 {
		font-weight: 400;
		@include ui-font(5);
	}
}
